body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; 
    opacity: 0.6
  }
  

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
    text-align: center; 
  }

  .category-header {
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    background: #e747bf;
    border-radius: 5px;
  }
  
  .category-songs li {
    padding-left: 15px;
    cursor: pointer;
  }
  
  .category-songs li:hover {
    background-color: #fd51d2;
  }
  

.song-list {
  position: fixed; 
  top: 20px;
  left: 0;
  width: 250px;
  background-color: rgba(252, 107, 180, 0.61); 
  padding: 20px;
  border-radius: 10px;
  color:rgba(240, 203, 221, 0.781);
  font-family: Arial, sans-serif;
  z-index: 2; 
  height: 100vh; 
  overflow-y: auto;
}

.song-list ul {
  list-style: none;
  padding: 0;
}

.song-list li {
  margin: 15px 0;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

.song-list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


  #vinyl {
    width: 350px; 
    height: 350px;
    margin-bottom: 30px;
    animation: spin 4s linear infinite;
    animation-play-state: paused;
    z-index: 2; 
    transition: transform 0.3s ease-in-out; 
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  #songInfo {
    margin-top: 5px;
    color: rgba(252, 107, 179, 0.884);
  }
  
  #songTitle {
    font-size: 30px;
    font-weight: bold;
  }
  
  #songArtist {
    font-size: 18px;
    font-style: italic;
    color: rgba(252, 107, 179, 0.884);
  }




  .controls {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-bottom: 30px; 
    z-index: 2; 
  }
  

  #volumeControl {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #volumeControl img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  #volumeControl img:hover {
    transform: scale(1.2);
  }





  button {
    background: none; 
    border: none;
    cursor: pointer;
    padding: 15px;
  }
  
  button img {
    width: 50px; 
    height: 50px;
  }
  
  
#progressBar {
    width: 500px;
    margin-top: 20px; 
    background: #ddd; 
    height: 10px; 
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
  }
  
 
  #progressBar::-webkit-slider-runnable-track {
    background: #f18cbf; 
    border-radius: 5px;
  }
  
  #progressBar::-webkit-slider-thumb {
    background: #ff1493; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-appearance: none; 
  }
  
  #progressBar::-moz-range-track {
    background: #f18cbf; 
    border-radius: 5px;
  }
  
  #progressBar::-moz-range-thumb {
    background: #ff1493;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  










  audio {
    display: none;
  }

  
